<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />

   <link rel="start" href="{{ HOME_PATH }}" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" />

</head>
<body id="{{ page.layout }}">
<div id="site">
  
  <div id="header">
    <h1>
    	<a href="{{ HOME_PATH }}" title="{{ site.title }}">{{ site.title }}</a>
    </h1>
    <ul class="nav">
      <li><a class="home" href="{{ HOME_PATH }}">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/links">Friends</a></li>
      <li><a href="/projects">Learning Process</a></li>
    </ul>
  </div>

  {{ content }}

  <aside>
    <nav>
      <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2192348341&verifier=ce8381b8&dpc=1"></iframe>
    </nav>
  </aside>

  <div class="copyright">
       &copy;2012 &ndash; magicbean@github pages
  </div>
  
</div>

<!--[if IE 6]>
<script type="text/javascript"> 
	/*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } 
	var IE6UPDATE_OPTIONS = {
		icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
	}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
 <!-- JiaThis Button BEGIN -->
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;uid=1353917360452476" charset="utf-8"></script>
<!-- JiaThis Button END -->

</body>
</html>
